
h2{
    padding-top: 20px;
    font-weight: bold;
    color: green;
    text-align: center;
}

.form-box {
    margin: 0 auto;
    position: fixed;
    z-index: 0;
    border-radius: 5px;
    border: 1px gray solid;
    justify-content: flex-start;
    background-color: white;
    border-radius: 5px;
    padding: 35px 15px;
    display: flex;
    flex-direction: column;
    width: 72%;
    height: 390px;
    left: 0;
    right: 0;
    top: 190px;
}

.title {
    font-size: 23px !important;
    margin: 0;
    text-align: center;
}

.titleBorder{
    text-align: center;
    font-style: italic;
    font-size: 20px !important;
    margin: 0;
    text-align: center;  
    border-bottom: 1px solid black;
    margin: 0px 300px;
}

.nameUser {
    font-size: 25px !important;
    margin-top: 5px;
    text-align: center;
    font-weight: bold
}