body {
    margin:  0;
    padding:  0;
    display: flex;
    flex-direction: column;
}

p{
    margin:0;
    padding: 0;
}

a, u {
    color: inherit;
    text-decoration: none !important;;
}
a:hover{
    color:inherit
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
