.login-body {
    font-family: 'Bree Serif', serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    /* border: solid 2px red; */
    background: linear-gradient(90deg, #ED1C24, #FCEE21);
}

.form-box {
    margin: auto;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;;
    box-shadow: 20px 20px 10px rgba(0,0,0,0.37);
}

.form-box-header {
    flex: 2;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.form-box-body {
    display: flex;
    flex: 5;
    flex-direction: column;
    align-items: stretch;
}

.form-box-footer {
    border: 1px solid green;
    flex: 5;
    flex-direction: column;
}

.header-login {
    font-size: 30px !important;
    margin: 0;
    text-align: center;
}

.btn-login-container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center
}

.btn-login {
    color: white;
    font-weight: bold;
    width: 80%;
}

.btn-login {
    font-size: 16px;
    padding: 5px;
    color: white;
    font-weight: bold;
    width: 80%;
    border-radius: 5px;

    background: linear-gradient(90deg, #FCEE21,  #ED1C24);
}

.pink-orange {
    background: linear-gradient(90deg, rgb(255, 133, 51), rgb(255, 102, 163));
}

.error-password{
    border: #ED1C24 solid 1px; 
    border-radius: 5px;
}