
.form-box {
    margin: 0 auto;
    position: fixed;
    z-index: 0;
    border-radius: 5px;
    border: 1px gray solid;
    justify-content: flex-start;
    background-color: white;
    border-radius: 5px;
    padding: 35px 10px;
    display: none; /* hidden or flex */
    flex-direction: column;
    width: 510px;
    height: 220px;
    left: 0;
    right: 0;
    top: 150px;
}

.title {
    font-size: 23px !important;
    margin: 0;
    text-align: center;
}

.nameUser {
    font-size: 25px !important;
    margin-top: 5px;
    text-align: center;
    font-weight: bold
}