.navigationBar{
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgb(29, 27, 27);
    /* padding: 10px 15px 10px 15px; */
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
}
.nav-header {
    font-size: 25px;
    font-weight: bold;
    color:white;
    padding: 0 10px;
    padding-bottom: 4px;
}
.link{
    display: flex;
    color: gray;
    font-size: 20px;
    margin: 0px 10px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.nav-right-side {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 10px 15px 10px 15px;
}
.nav-links {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav-links>ul>li{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.nav-left-side{
    height: 100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
a{
    height: 100%;
}
.nav-left-side>li>a>p:hover{
    background-color: gray;
    color:white;
}


