.form-box {
    border: 1px gray solid;
    margin: auto;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;;
    box-shadow: 20px 20px 10px rgba(0,0,0,0.37);
}

.header-new-user {
    font-size: 30px !important;
    margin: 0;
    text-align: center;
}