.process-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}
.logout-box {
    position: fixed;
    display: flex;
    flex-direction: row;
    top:0;
    right:0;
    margin-right: 5px;
}
.logout-box .logout-box-text {
    font-size: 15px;
    padding: 5px 5px;
}

.title-proces{
    display: flex;
    justify-content: center;
    align-items: center;
}

#date {
    margin:0;
    color: #000000;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 17px;
    margin-top: -27px;
}

.hour{
    color: red;
    font-weight: normal;
}

.rotate {
    /* property name, duration, delay */
    transform: rotate(1turn);
    transition: transform, 1s, 0.5s; 
}

.form-box {
    position: relative;
    margin: auto;
    justify-content: center;
    align-content: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 300px;
}

.form-box::before{
    content: 'que ondas, "soy un pseudo elemento"';
    margin:0;
    color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 17px;
    margin-top: -27px;
}

.btn-groups-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.btn-process{
    width: 200px;
    padding: 15px 20px;
    margin: 10px;
}
