{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/about.css') }}">
    <title>Users</title>
{% endblock %}

{% block content %}
    <h2>Motor Control Application V1.2 - 2019</h2>
    <div class="form-box" id="myModalDeleter">
            <p id="title" class="title">This is a didactic application is control a 
                motor connected to a computer and audit 
                <strong>who, what and when</strong> the motor is operated</p>
            <br/>
            <p id="title2" class="title">The goal of this application is to 
                learn all about good practice of the cycle of software development</p>
            <br/>
            <p class="title">Credits by</p>
            <br/>
            <p class="titleBorder"><strong>Professor: </strong>Ivan Rogelio Chenoweth</p>
            <br/>
            <p class="titleBorder"><strong>Student: </strong>Julio César Felix</p>

    </div>

{% endblock %}
