{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/baseStyles.css') }}">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/navigationBar.css') }}">
    <title>Document</title>
{% endblock %}

{% block body %}
    
    {% block navbar %}
        {% include 'navigationBar.html' %}
    {% endblock %}
    {% block content %}{% endblock %}
    {% block scripts %}
        {{ super() }}
    {% endblock %}
{% endblock %}
</body>
</html>