{% extends 'base.html' %}
{% block navbar %}        
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/login.css') }}">
    <title>Login</title>
{% endblock %}     
{% block content %}
  <div class="login-body" id="login">
      <div class="form-box {{ error }}">
        <div class="form-box-header">
          <h1 class="header-login">Iniciar Sesión</h1>
        </div>
        <div class="form-box-body">
          <!-- <form id="loginForm"> -->
          <form action="{{ url_for('auth.login') }}" method='POST'>
              <div class="form-group">
                <label>Usuario</label>
                <div class="input-group margin-bottom-sm">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  {{ login_form.username(class_='form-control', placeholder='Usuario') }}
                </div>
              </div>
              <div class="form-group">
                <label>Contraseña</label> 
                <div class="input-group margin-bottom-sm">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  {{ login_form.password(class_='form-control', placeholder='Contraseña') }} 
                </div>
              </div>
              <div class="form-group">
                <label><input id="rememberMe" type="checkbox"/> Remember me</label>
              </div>
              <div  class="btn-login-container" id="login-btn">
                {{ login_form.submit(class_='btn-login') }}
              </div>
          </form>
        </div>
      </div>
  </div>
  {% block scripts %} 
  {% endblock %}
{% endblock %}
  


