{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <title>Users</title>
{% endblock %}

{% block content %}
    <div class="container">
    <div>
        <h1>Logs</h1>
    </div>
    <table class="table table-bordered thead-dark">
        <thead class="">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">User name</th>
                <th scope="col">Action</th>
                <th scope="col">Created Date Time</th>
            </tr>
        </thead>
        <tbody>
            {% for log, user in logslist %}
            <tr>
                <th style="vertical-align: middle;" scope="row">{{ log.id_log }}</th>
                <td style="vertical-align: middle;">{{ user.username_user }}</td>
                <td style="vertical-align: middle;">{{ log.action }}</td>
                <td style="vertical-align: middle;">{{ log.created_date_log }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
