<div style="margin: 0 5px;">
        <nav class="navigationBar">
            <ul class="nav-header">
                <li>
                    <a href="{{ url_for('users.render_users') }}"><p >Administrator</p></a>
                </li>
            </ul>
            <div class="nav-links">
                <ul class="nav-left-side">
                    <li><a href="{{ url_for('users.render_users') }}"><p class="link">Users</p></a></li>
                    <li><a href="{{ url_for('process.render_logs') }}"><p class="link">Logs</p></a></li>
                    <li><a href="{{ url_for('process.about') }}"><p class="link">About</p></a></li>
                </ul>
                <ul class="nav-right-side">
                    <li><a href="#"><p class="link">{{ g.username }}</p></a></li>
                    <li><a href="{{ url_for('auth.logout') }}"><p class="link">Logout</p></a></li>
                </ul>
            </div>
        </nav>
</div>