{% extends 'base.html' %}
{% block navbar %}   
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/process.css') }}">
    <title>Process</title>
{% endblock %}     
{% block content %}
<div class="process-container">
        <input id="idUser" type="hidden" value="{{ g.id_user }}"/>
        <div class="logout-box">
            <p class="logout-box-text">{{ g.username }}</p>
            <a class="logout-box-text"href="{{ url_for('auth.login') }}">Logout</a>
        </div>
        <div class="title-proces">
            <h1>Process</h1>
        </div>
        <div id="formBox" class="form-box animated">
            <p id="date">22-Agosto-2019 <strong id="hour" class="hour"></strong></p>
            <div class="btn-groups-1">
                <input id="on" class="btn-process btn btn-success" type="button" value="Power On">
                <input id="off" class="btn-process btn btn-danger" type="button" value="Power Off">
            </div>
            <div class="btn-groups-1">
                <input id="turn lef" class="btn-process btn btn-success" type="button" value="turn left">
                <input id="turn right" class="btn-process btn btn-success" type="button" value="turn right">
            </div>
        </div>
</div>
<script src="{{ url_for('static', filename='js/libraries/moment.js') }}"></script>
<script src="{{ url_for('static', filename='js/process.js') }}"></script>


{% endblock %}
  


