{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block navbar %}   
     {{ super() }}     
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/new_user.css') }}">
    <title>Edit User</title>
{% endblock %}  
{% block content %}
    <div class="container">
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="alert alert-{{ category }} alert dismisible">
                <button type="button" 
                        data-dismiss="alert"
                        class="close">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        <form class="form-box" method="POST" action="{{ url_for('users.update_user') }}">
            <h1 class="header-new-user">Edit User</h1>
            <br/>
            {{ updateUserForm.csrf_token }}
            <div class="form-group">
                <label for="name">Username *</label>
                {{ updateUserForm.username(class_='form-control', value=values.username_user  ) }}
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                {{ updateUserForm.password1(class_='form-control') }}
            </div>
            <div class="form-group">
                    <label for="exampleInputPassword1">Password (again)</label>
                    {{ updateUserForm.password2(class_='form-control') }}
            </div>
            <div class="form-group">
                    <label style="margin-right: 15px;" for="customRadio1">Role: *</label>
                    <input type="radio" id="customRadio1" checked name="role" value='Administrator' class="custom-control-input">
                    <label style="margin-right: 10px;" for="customRadio1">Admin</label>
                    <input type="radio" id="customRadio2" name="role" value='User' class="custom-control-input">
                    <label class="custom-control-label" for="customRadio2">User</label>
            </div>  
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="{{ url_for('users.render_users') }}" class="btn btn-default">Cancel</a>
            </div >
            {{ updateUserForm.id(value=values.id_user) }} 
        </form>
    </div>

{% endblock %}