{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/modal.css') }}">
    <title>Users</title>
{% endblock %}

{% block content %}
    <div class="form-box animated bounceInDown" id="myModalDeleter">
            <p id="title" class="title">Are you shure about delete the Administrator: </p>
            <p id="title2" class="nameUser">"TEST" ?</p>
            <div style="display: flex; flex-direction: row; justify-content: center; margin-top: 40px;">
                    <input id="aceptDeleteUser" style="margin-right: 15px;" class="btn btn-danger" value="Acept">
                    <input class="btn btn-default" value="Cancel" onclick="closeModal()">
            </div>
            <input id='idField' type="hidden"/>
    </div>
    <div class="container">
    {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }} alert dismisible">
            <button type="button" 
                    data-dismiss="alert"
                    class="close">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    <div class="space-between">
        <h1>Users</h1>
        <a class="btn btn-success" href="{{ url_for('users.new_user') }}">New user</a>
    </div>
    <table class="table  table-bordered thead-dark">
        <thead class="">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">User name</th>
                <th scope="col">Password</th>
                <th scope="col">Role</th>
                <th scope="col">Created Date</th>
                <th scope="col">Updated Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in usersList %}
            <tr>
                <th style="vertical-align: middle;" scope="row">{{ user.id_user }}</th>
                <td id="{{ user.id_user }}username"style="vertical-align: middle;">{{ user.username_user }}</td>
                <td style="vertical-align: middle;">XXX</td>
                <td id="{{ user.id_user }}role" style="vertical-align: middle;">{{ user.role_user }}</td>
                <td style="vertical-align: middle;">{{ user.created_date_user }}</td>
                {% if user.updated_date_user %}
                    <td style="vertical-align: middle;">{{ user.updated_date_user }}</td>
                {% else %}
                    <td style="vertical-align: middle;">{{ user.created_date_user }}</td>
                {% endif %}
                <td style="vertical-align: middle;">
                    <a href="{{ url_for('users.edit_user', idUser=user.id_user) }}" class="btn btn-primary">Edit</a>
                    <button onclick="openModal('{{ user.id_user }}')" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>

{% endblock %}
